version: 2.1

# This exposes the parameters to be overridden in the generated pipeline
parameters:
  ssh-fingerprint:
    type: string
    default: 'SHA256:jV+vtmEE6tY1NjGJKLYccAoeQAbVEQ805X70tJHiQ9Q'
  GHA_Actor:
    type: string
    default: ''
  GHA_Action:
    type: string
    default: ''
  GHA_Event:
    type: string
    default: ''
  GHA_Meta:
    type: string
    default: ''

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  vfcommon: voiceflow/common@0.101.2
  gomplate: xavientois/gomplate@0.2.0
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  generate-config:
    when:
      and:
        - not:
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - not:
            equal: ['prerelease', << pipeline.parameters.GHA_Meta >>]
    jobs:
      - gomplate/render-config:
          context: dev-test
          install-gomplate: false
          executor:
            name: vfcommon/node-executor-node-20
            tag: '20.11.1-vf-3'
          pre-steps:
            - vfcommon/checkout_clone:
                clone_type: treeless
            - vfcommon/set-json-string:
                field: branch
                # HACK: this cannot be empty, so we pass both branch and tag (only one of them will be non-empty)
                # TODO: Fix this once https://discuss.circleci.com/t/empty-string-for-parameter-breaks-config/47695 has a solution
                value: '<< pipeline.git.branch >><< pipeline.git.tag >>'
            - vfcommon/set-json-command:
                field: node_version
                command: jq --raw-output '.volta.node // ""' package.json
            - vfcommon/set-json-string-from-env:
                field: common_orb_version
                value-env-var: COMMON_ORB_VERSION
            - run: cat values.json
          contexts: values.json
          filters:
            branches:
              ignore:
                - /.*\.tmp/
  prerelease:
    when:
      equal: ['prerelease', << pipeline.parameters.GHA_Meta >>]
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/prerelease-config.yml
          mapping: |
            package.json build-all true
